/* padding:t,r,b,l */
.AddMemBtn {
  background-color: #5a19ca;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  right: 3%;
  margin-right: 5%;
  border-radius: 50%;
  bottom: 5%;
  width: 80px;
  height: 85px;
}
.AddMemBtn p {
  margin-top: 40px;
  color: #fff;
  font-size: 50px;
}
.triangle-up {
  height: 31rem;
  width: 15rem;
  border-radius: 4rem;
  rotate: 60deg;
  position: absolute;
  top: -20rem;
  z-index: -1;
  right: 48%;
  transform: skew(10deg);
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgb(161 0 255 / 8%),
    rgba(136, 0, 215, 0.341)
  );
}
.triangle-left {
  position: absolute;
  left: -11rem;
  height: fit-content;
}
.triangle-left svg {
  fill: linear-gradient(
    4deg,
    #000 -50.77%,
    rgba(0, 0, 0, 0.25) 21.97%,
    rgba(93, 0, 147, 0.79) 100.7%
  );
  width: 63.29075rem;
  height: 75.42969rem;
  rotate: -15deg;
  /* background-color: #fff; */
  position: absolute;
  top: 16rem;
  z-index: -1;
}
.home_body {
  display: grid;
  width: 100%;
  margin: 0 10% 0 7%;
  /* background-color: #e20606; */
  grid-template-columns: auto auto;
  /* row-gap: 10rem; */
}
.home_grid1 {
  grid-row: 1;
  margin-right: 5rem;
}
.home_grid2 {
  grid-row: 1/2;
  /* background-color: #fff; */
}

.home_grid3 {
  grid-row: 2;
  justify-self: center;
  width: 100%;
}
.home_grid4 {
  grid-row: 2/2;
  justify-self: start;
  background-color: #fff;
}
.home_grid5 {
  grid-row: 3/3;
}

.home_h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.home_h1 h1 {
  color: #fff;
  height: 1rem;

  font-family: Tiro Devanagari Sanskrit;
  /* font-family: Inter variant0; */
  /* font-family: Inter ; */
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 59.496px; /* 86.227% */
}
.home_h1 span {
  color: #ea8e8e;
}
.home_para {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.home_para p {
  color: #fff;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 166.667% */
}
.home_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.home_logo img {
  width: 26rem;
  height: 35rem;
  margin: 0 8rem 0 0;
}

.home_JoinUs h1 {
  color: #fff;
  font-family: Tiro Devanagari Sanskrit;
  font-size: 54px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 30px; /* 55.556% */
}
.home_JoinUs h1 span {
  text-align: center;
  color: #05f8e0;
}
.home_JoinUs p {
  color: #fff;
  text-align: center;
  font-family: Tiro Devanagari Sanskrit;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.175px;
}
.home_JoinUs_btn {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
}




.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 200px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgb(65, 76, 204) 0%, rgb(79, 207, 209) 100%);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 4px 3px 24px rgb(109, 117, 211);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
content: '';
  border-radius: 0.5rem;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid rgb(65, 76, 204);
  box-shadow: 0 0 60px rgb(109, 117, 211);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid rgb(65, 76, 204);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

.home_entImgs {
  flex-shrink: 0;
  justify-self: center;
  align-self: center;
}
.home_entImgs img {
  width: 30.875rem;
  height: 18.4375rem;
  object-fit: cover;
  border-radius: 2.5625rem;
}

.home_mobile_RecntEvent {
  display: none;
}
.home_desktop_RecntEvent {
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-family: "Aboreto", cursive;
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  justify-self: center;
  display: flex;
}

.home_entInfo {
  width: 100%;
  height: fit-content;
  align-self: center;
  display: flex;
  border-radius: 1.5rem 0 0 1.5rem;
  background: #23232536;
  border: #284851 solid 2px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home_entInfo .quote {
  width: 7rem;
  height: 5rem;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  font-family: "Times New Roman", Times, serif;
  quotes: "\201C""\201D""\2018""\2019";
  & ::before {
    content: "\201C";
    color: #ffffff;
    font-size: 9.5rem;
    margin: -3rem 0 0 -1rem;

    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
.home_entInfo .text {
  width: 32rem;
  margin: -1rem 1rem 2rem 5rem;
  color: #fff;
  padding: 0 1.5rem 1rem 0;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem; /* 125% */
}

#member_title {
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-family: "Aboreto", cursive;
  font-weight: bolder;
  font-size: 3rem;
  margin-top: 10%;
}
.member-container {
  position: relative;
  width: 1367px;
  height: 100%;
}
.member-container2 {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.cardDiv {
  width: 20rem;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5rem;
  align-items: center;
  overflow-wrap: unset;
  display: flex;
  transition: 0.2s;
  flex-direction: column;
}
.cardImg {
  position: relative;
  width: 125.067px;
  margin: 0;
  border: 10px solid black;
  height: 130.296px;
  border-radius: 130.296px;
  background-color: #7e8040;
  z-index: 1;
}
#member_photo {
  width: 125.067px;
  height: 130.296px;
  border-radius: 130.296px;
}
.IncardDiv {
  background-color: #1A222F;
  position: relative;
  border-radius: 1rem;
  border: #284851 solid 2px;
  width: 280px;
  margin: -60px auto auto auto;
  display: flex;
  flex-direction: column;
  height: 249.7px;
  transition: 0.2s
}

.underline {
  position: absolute;
  height: 3px;
  background-color: #EA8E8E;
  width: 40%;
  display: flex;
  display: block;
  justify-self: center;
  transition:width 0.4s

}
.underline1 {
  padding: 0px 30px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: center;

}
.cardDiv:hover .underline {
  /* animation: line 0.8s linear forwards; */
  width: 80% ;
}
.cardDiv:hover {
  transform: scale(105%);
  transition: 0.5s;
}

@keyframes line {
  from {
    left: 50%;
    width: 0%;
  }
  to {
    left: 5%;
    width: 90%;
  }
}
.infoDiv {
  position: relative;
  text-align: center;
  margin-top: 55px;
  color: white;
  line-height: 0px;
}
u {
  width: 1000px;
  text-decoration: overline;
}
#name {
  width: 100%;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  font-family: "Aboreto", cursive;
  line-height: 30px;
}
#name {
  margin-top: 2%;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

a {
	text-decoration: none;
}

.page {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #e6f7f7;
}

.IncardDiv{
  position: relative;
  /* overflow: hidden; */
  /* background-size: 100%; */
	background-position: center;
	/* box-shadow: 0px 0px 10px 2px rgba(#c5c5c5, 0.5); */
	box-sizing: border-box;

	transition: all 0.3s;

  &:hover {
		/* transform: translateY(20px); */
		background-position: center 100%;
		background-size: 105%;
		box-shadow: 0px 0px 20px 0px rgba(#777777, 0.6);

		.ccard__button{
			transform: translateY(80%);
			color: #027090;
			transition: all 0.3s;

		}

	}

}

.ccard__button {
	position: absolute;
  z-index: -1;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	background-color: transparent;
	box-sizing: border-box;
	padding: 20px 10px;
	font-size: 12px;
	color: #fff;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	transform: translateY(-50%);
	transition: all 0.3s;
}
.gitgggg{
  width: 2.2rem;
  height: 2.2rem;
  mix-blend-mode: multiply;
  /* display: none; */
  margin: 0 1rem 0 0;
}


/**********************************************Mobile********************************************************/
@media only screen and (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }

  .triangle-left {
    rotate: -1.26deg;
    left: -10rem;
    top: 23rem;
    z-index: -1;
  }
  .triangle-left svg {
    width: 15rem;
    height: 35rem;
  }

  .home_body {
    display: grid;
    /* margin: 0rem 0rem 1rem 2rem ; */
    margin: 0;
    /* width: 100%; */
    overflow-x: hidden;
    grid-template-areas:
      "grid2"
      "grid1"
      "grid3"
      "grid4";
  }

  .home_grid1 {
    margin: 0;
    grid-area: grid1;
  }
  .home_grid2 {
    grid-area: grid2;
  }

  .home_grid3 {
    grid-area: grid3;
    color: #ffffff;
    /* width: 100%; */
    text-align: center;
    font-family: "Aboreto", cursive;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .home_grid4 {
    grid-area: grid4;
  }

  .home_logo img {
    margin: 0;
    width: 15rem;
    height: 20rem;
    justify-self: center;
    transform: rotate3d(0);
  }
  .home_h1 {
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .home_h1 h1 {
    /* padding: 1rem; */
    font-size: 2.5rem;
  }

  .home_desktop_RecntEvent {
    display: none;
  }
  .home_JoinUs h1 {
    font-size: 2rem;
  }
  .home_JoinUs p {
    font-size: 1rem;
  }

  .home_para {
    width: fit-content;
    margin-top: 1rem;
    padding: 1rem 1rem 0rem 1rem;
    /* background-color: #d60000; */
  }
  .home_para p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-top: 0;
  }
  .member-container2 {
    flex-direction: column;
    justify-content: center;
    /* width: 30rem; */
    align-items: center;
  }
  .home_JoinUs {
    width: 100%;
    /* background-color: #c90e0e; */
    margin-left: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home_entImgs_container {
    margin: 2rem;
  }
  .home_entImgs {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .home_entImgs img {
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
  }
  .home_entInfo {
    /* width: 20rem; */
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    justify-content: center;
    margin: 0;
    border-radius: 0rem;
  }
  .quote blockquote {
    width: fit-content;
    height: 2rem;
    margin: 0rem 1rem 1rem 1rem;
  }
  .home_entInfo .quote {
    height: fit-content;
    top: -8rem !important;
    /* background-color: #fff; */
    top: -12.5rem;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    font-family: "Times New Roman", Times, serif;
    quotes: "\201C""\201D""\2018""\2019";
    & ::before {
      content: "\201C";
      color: #ffffff;
      font-size: 5rem;
      height: 1rem;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  }
  .home_entInfo .text {
    margin: 0 0rem 1rem 3rem;
    font-size: 1rem;
    justify-self: center;
    width: 25rem;
    height: fit-content;
    /* margin-top: -1rem; */
    line-height: 1.5rem;
  }
}

/**************************************************** TAB View ***********************************************************/
