.body{
    margin: 0% auto;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.form{  
    padding: 2% 3% ;
    border-radius: 0.4%;
    border: #fcfcfb7b solid 2px;
    margin: 5%;
    width: 50%;
    background-color: #2B2F2E;
    border-radius: 16px;
    
}
.form.container{
 max-width: 100%;
 
 
}
.form .container form{
    display: flex;
    flex-direction: column;
    
}

.feedback_form input::placeholder{
    color: #fcfcfb54;
}
.feedback_form textarea::placeholder{
    color: #fcfcfb54;
}

.form .container form input{
 
 margin: 3% 1% 1% 1% ;
 width: 100%;
 background: none;
 border: none;
 outline: none;
 border-bottom: 1px solid #000;
 color: #fcfcfb;

}
.form .container form textarea{
    
    margin: 3% 1% 0% 1% ;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    color: #fcfcfb;
    resize: none;
  
}
.form .container form button{
    width: 10%;
    padding: 1% 0.1%;
    margin:4% ;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    background: rgba(6, 205, 205, 0.83);
}