.community {
  color: #78fff7;
}
.join-our-community-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 2.813rem;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  
}
.logo-1-icon {
  position: absolute;
  top: 0;
  left: 0.563rem;
  width: 10.488rem;
  height: 13.25rem;
  object-fit: cover;
}
.icon-settings,
.icon-settings1 {
  position: absolute;
  top: 11.7rem;
  left: 11.313rem;
  width: 18.875rem;
  height: 17.425rem;
  object-fit: contain;
  z-index: 1;
}
.icon-settings1 {
  top: 18.75rem;
  left: -2.75rem;
  width: 18.838rem;
  height: 17.294rem;
  z-index: 2;
}
.logo-1-parent {
  height: 42.044rem;
  width: 37.188rem;
  position: absolute;
  margin: 0 !important;
  bottom: -34.612rem;
  left: -11.05rem;
}
.join-our-community-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.unlock {
  color: #ebbae3;
}
.coding {
  color: #a1fff9;
}
.potentials {
  color: #a57dfc;
}
.unlock-your-coding-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 1.388rem;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
  
}
.unlock-your-coding-potentials-wrapper {
  flex-direction: row;
  padding: 0 0.063rem;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 2.5rem;
  font-family: "Baloo Bhai 2";
}
.signin-35,
.signin-35-inner,
.frame-parent,
.unlock-your-coding-potentials-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex-direction: column;
  gap: 1.063rem;
  max-width: 100%;
}
.signin-35,
.signin-35-inner {
  box-sizing: border-box;
}
.signin-35-inner {
  width: 29.563rem;
  flex-direction: column;
  padding: 7.231rem 0 0;
  min-width: 29.563rem;
  max-width: 100%;
}
.signin-35 {
  position: relative;
  
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: 3.706rem 7.125rem 12.938rem 11.05rem;
  gap: 4.875rem;
  mix-blend-mode: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 4rem;
  color: #fff;
  font-family: Roboto;
}
@media screen and (max-width: 1350px) {
  .signin-35-inner {
    flex: 1;
  }
  .signin-35 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .join-our-community-container {
    font-size: 3.188rem;
  }
  .unlock-your-coding-container {
    font-size: 2rem;
    line-height: 1.5rem;
  }
  .signin-35-inner {
    padding-top: 4.688rem;
    box-sizing: border-box;
    min-width: 100%;
  }
  .signin-35 {
    gap: 4.875rem 2.438rem;
    padding-left: 5.5rem;
    padding-right: 3.563rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .join-our-community-container {
    font-size: 2.375rem;
  }
  .unlock-your-coding-container {
    font-size: 1.5rem;
    line-height: 1.125rem;
  }
  .signin-35 {
    gap: 4.875rem 1.188rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
}