.Logininfo_logo-1-icon {
    height: 7.75rem;
    width: 7.125rem;
    position: static;
    object-fit: cover;
  }
  .Logininfo_header-container-log {
    width: 100%;
    height: 6.45rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .Logininfo_crafters-txt {
    color: #ea8e8e;
    font-size: smaller;
  }
  .Logininfo_coding-crafters-txt {
    position: relative;
    line-height: 1rem;
    font-size: smaller;
  }
  .Logininfo_coding-crafters-content {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 0.063rem;
    font-size: smaller;
  }
  .Logininfo_Main-logged {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.188rem 14.875rem 8.313rem;
    box-sizing: border-box;
    gap: 1.5rem;
    letter-spacing: normal;
    text-align: left;
    font-size: 2.5rem;
    color: #fff;
    font-family: "Baloo Bhaijaan 2";
  }

/*********************************RESPONSIVE***********************************/

@media only screen and (max-width: 650px) {
  

}
 